loosen the restrictions on the use of annotation

Current text in section 4.8.6, References Section, says the following (this has been added since RFC 7322):
```
annotations beyond necessary translations [RFC7997] are not allowed.
```
However, RFCXML provides the `<annotation>` element for the purpose of augmenting a bibliographic entry, and it has been used in published RFCs (e.g., the [Unicode] entry in [RFC 8753](https://www.rfc-editor.org/rfc/rfc8753.html#name-normative-references)).

Perhaps some guidance on how to use annotations can be provided. 